/.git
/.gradle
/.settings
/asm
/bin
/build
/config
/crash-reports
/dumps
/eclipse
/journeymap
/libs
/logs
/mods
/mod-config
/quantumAnomalies
/resourcepacks
/saves
/scripts
/screenshots
/.classpath
/.project
/copy
/git
/world
/armourersWorkshop
/equipmen-database
out/
*.bat
WG.iws
WG.ipr
WG.iml

.idea
run